@import '../../styles/variables';

.between-field {
    display: flex;
    position: relative;

    &__and {
        align-self: center;
        padding: 0 0.6rem;
    }

    &__error {
        bottom: -1rem;
        color: $color-error;
        font-size: 0.6875rem;
        position: absolute;
        text-align: center;
        width: 100%;
    }
}
